# ---------- clone (npm run clone) ----------

GITHUB_CLONE_USERNAME=your-github-username

GITHUB_CLONE_DIR=./repos

FIRST_COMMIT_DATE=2024-01-01

# ---------- replace (npm run replace) ----------
GITHUB_REPLACE_DIR=./repos

GITHUB_REPLACE_USERNAME=your-github-username
GITHUB_REPLACE_USEREMAIL=your-email@example.com
GITHUB_REPLACE_TOKEN=ghp_

ADD_COMMIT_DELAY_SINCE_LAST_COMMIT_DAYS=1
AUTO_REMOVE=true

# ---------- release (npm run release) ----------

GITHUB_RELEASE_TOKEN=ghp_

LAST_UPDATE_DATE=2026-03-10

